<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommendations</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles_moviemap.css') }}">
</head>
<body>
    <div id="main-container">
        <h1>Movie Recommendations</h1>
        <div id="recommendations-container">
            {% for movie, recs in recommendations.items() %}
                <div class="movie-section">
                    <h2>{{ movie }}</h2>
                    <ol>
                        {% for rec in recs %}
                            <li {% if rec == common_movie %}class="highlighted-movie"{% endif %}>{{ rec }}</li>
                        {% endfor %}
                    </ol>
                </div>
            {% endfor %}
        </div>

        {% if common_movie %}
        <div id="common-movie">
            <h2>Common Movie Found: <span class="highlighted-movie">{{ common_movie }}</span></h2>
        </div>
        {% endif %}
    </div>
</body>
</html>